.item-box{
border: 1px solid rgb(15, 15, 15);
border-radius: 10px;
height: 200px;
width: 700px;
margin-top: 100px;
}
.ok-btn{
background-color: blue;
color: white;
width: 30px;
height: 30px;
border-radius: 5px;
}
.admin-detail{
    display: flex;
    justify-content: center;
}

